env
env/*
.idea
pyvenv.cfg
.vscode
.idea/misc.xml
.idea/anomalab.iml
__pycache__/KMeanClusterer.cpython-39.pyc
output.csv
.idea/*
__pycache__
.idea/anomalab.iml
.idea/misc.xml
__pycache__/DistanceFunctions.cpython-39.pyc
__pycache__/KMeanClusterer.cpython-39.pyc
venv
